table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.cabecera-tabla {
  background-color: seagreen;
}

  .no-hay-ementos {
    width: 100%;
    text-align: center;
    padding: 1%;
    display: block;
    background-color: lightgray;
  }

  .oculto {
    display: none;
  }